body {
  background-color: #000814;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #001d3d;
  text-align: center;
}

.card {
  margin-top: 80px; /* para que no lo tape el header fixed */
  width: fit-content;
}

.topic {
  display: flex;
  align-items: center;
}

.topic + .topic {
  margin-top: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #39ff14;
  border-radius: 50%;
}

.text {
  margin-left: 10px;
}

.static {
  position: static; /* comportamiento normal */
}

.relative {
  position: relative;
  left: 10px; /* se mueve ligeramente */
}

.absolute-parent {
  position: relative;
}

.absolute-dot {
  position: absolute;
  left: -20px;
  top: 8px;
}

.sticky {
  position: sticky;
  top: 60px;
}
