body {
  background-color: #000814;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1, h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
}

.demo {
  width: 700px;
  height: 180px;
  margin: 18px auto;
  background-color: #001d3d;
  border: 1px solid #0a2a5a;
}

.box {
  width: 120px;
  height: 60px;
  background-color: #3a0ca3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tall {
  height: 110px;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-align {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.wrap-align {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.chip {
  width: 90px;
  height: 45px;
  margin: 6px;
  background-color: #39ff14;
  color: #001d3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
